<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Automation Suite">
<listeners>

<listener class-name = "com.tn.qa.Listenerss.MyListener" />

</listeners>
  <test name="TutorialsNinja Automation TestCases">
    <classes>
    
      
      <class name="com.tutorialsninjaa.qa.testcases.LoginTestt"/>
      <class name="com.tutorialsninjaa.qa.testcases.RegisterTestt"/>
      <class name="com.tutorialsninjaa.qa.testcases.SearchProductTestt"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
